:root {
  --bg-color: #191b19;
  --text-color: #f8f8ff;
  --font: 1.6rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--bg-color);
}

main {
  margin-inline: 10%;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  p {
    margin-bottom: 2rem;
    max-width: 80rem;
  }
}

nav {
  min-height: 10vh;
  background-color: var(--bg-color);
  filter: brightness(107%);
  display: flex;
  justify-content: center;
  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
}

li {
  padding: 1rem;
  list-style-type: none;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

p,
a {
  font-size: var(--font);
}

h1,
p,
a {
  color: var(--text-color);
}

.link {
  color: #0096ff;
}

@media screen and (max-width: 480px) {
  nav {
    ul {
      gap: 0.4rem;
    }
  }
}
